@page "/"


<AuthorizeView>
    <Authorized>
        <b>Hello, @context.User.Identity.Name!</b><br />

        @foreach (var claim in @context.User.Claims)
        {
            <div><code>@claim.Type</code>: <strong>@claim.Value</strong></div>
        }
    </Authorized>

</AuthorizeView>